/* =====================
    COMMON CSS
=======================*/

body {
    font-family: 'Lato', sans-serif;
    line-height: 1.7em !important;
}

.ff-georgia {
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.text-dark-green {
    color: #01996D !important;
}

.text-gray {
    color: #484848;
}

.text-shadow {
    text-shadow: 0px 0px 3px #000000;
}

.text-blue-green {
    color: #035755 !important;
}

.active {
    color: #035755 !important;
}


/* Header section */

.nav-item:hover .nav-link {
    color: #01996D !important;
}


/* Hero section */

.hero-section {
    height: 80vh;
    background: url(../images/BGhero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero-clone {
    height: 80vh;
    background: rgba(255, 255, 255, 0.123);
}


/* third section */

.bg-h5-1 {
    background: url(../images/01n01.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

.bg-h5-2 {
    background: url(../images/02n02.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

.bg-h5-3 {
    background: url(../images/03num03.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}


/* fouth section */

.fourth-section {
    background: #245852;
}


/* footer */

.footer {
    background: #035755;
}